##############################################################
#
# List of approvers/reviewers for the On-prem Kubernetes Guide
#
##############################################################
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# These owners will be the default owners for everything in the repo.
* @moller2866 @housa @sofusalbertsen @Gertmeister
